  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      {{- with .Title | default .Site.Title }}
      <title>{{ . }} | Cup of Tegan - Frontend development and lovely little things</title>
      <meta property="og:title" content="{{ . }} | Cup of Tegan" />
      <meta name="twitter:title" content="{{ . | truncate 70 }}" />
      {{- end }}
      {{- with .Description | default .Params.subtitle | default .Summary }}
      <meta name="description" content="{{ . }}">
      <meta property="og:description" content="{{ . }}">
      <meta name="twitter:description" content="{{ . | truncate 200 }}">
      {{- end }}
      <meta name="author" content="{{ .Site.Author.name }}" />
      {{- with .Site.Params.favicon }}
      <link href='{{ . | absURL }}' rel='icon' type='image/x-icon' />
      {{- end -}}
      <!-- Social Media Tags -->
      {{- with .Params.share_img | default .Params.image | default .Site.Params.logo }}
      <meta property="og:image" content="{{ . | absURL }}" />
      <meta name="twitter:image" content="{{ . | absURL }}" />
      {{- end }}
      <meta name="twitter:card" content="summary" />
      {{- with .Site.Author.twitter }}
      <meta name="twitter:site" content="@{{ . }}" />
      <meta name="twitter:creator" content="@{{ . }}" />
      {{- end }}
      {{- with .Site.Params.fb_app_id }}
      <meta property="fb:app_id" content="{{ . }}" />
      {{- end }}
      <meta property="og:url" content="{{ .URL | absLangURL }}" />
      <meta property="og:type" content="website" />
      <meta property="og:site_name" content="{{ .Site.Title }}" />
      <!-- Hugo Version number -->
      {{ .Hugo.Generator -}}
      <link rel="canonical" href="{{ .URL | absLangURL }}" />
      <link rel="alternate" href="{{ "index.xml" | absLangURL }}" type="application/rss+xml" title="{{ .Site.Title }}">
      <!-- Bootstrap 4.3 CSS -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <!-- Cup of Tegan CSS -->
      <link rel="stylesheet" href="/css/style.css">
      <!-- Favicons -->
      <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32" />
      <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16" />
      <!-- Android theme -->
      <meta name="theme-color" content="#190047">
  </head>
