{{ define "header" }}<!-- No header on 404 pages -->{{ end }}
{{ define "main" }}
  <div role="main" class="container main-content">
    <div class="text-center">
      <h1>404 Not found</h1>
      <br/>
      <img src="https://http.cat/404" />
    </div>
  </div>
{{ end }}
